@import '../../styles/styles';

.results {

}

.results__container {
    @include container;
    display: flex;
}

.results__filter {
    width: 200px;
    margin-right: 20px;
}

.results__filter-section {
  border: 1px solid #e1e4e8;
}

.results__filter-item-container {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e1e4e8;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: #f6f8fa;
  }
}

.results__filter-item-name {
  flex: 1;
}

.results__filter-item-count {
  font-size: 11px;
  padding: 4px;
  color: #fff;
  background-color: #4d4d4d;
  border-radius: 20px;
}

.results__content-container {
    flex: 1;
}

.results__content-item {
  margin-bottom: 20px;
}

.results__title-container {
    display: flex;
    margin-bottom: 20px;
}

.results__title {
    flex: 1;
    font-size: 23px;
    margin-right: 10px;
    font-weight: bold;
}

.results__sort {

}
