.paginator {
}

.paginator__container {
  display: flex;
}

.paginator__item {
  margin-right: 20px;
  background-color: #0366d6;
  color: #fff;
  padding: 10px;
  cursor: pointer;

  &:disabled {
    background-color: #e2e2e2;

    &:hover {
      background-color: #e2e2e2;
    }
  }

  &:hover {
    background-color: #5a8fcb;
  }
}
