@import '../../../styles/styles';

.repository-item {

}

.repository-item__container {
  display: flex;
}

.repository-item__section {
  display: flex;

  &:first-child {
    flex: 1;
    flex-direction: column;
  }
}

.repository-item__title {
 @include title;
}

.repository-item__description {
  @include description;
}

.repository-item__details {
   display: flex;
}

.repository-item-detail {
  font-size: 12px;
  margin-right: 10px;
}

.repository-item__section {

}

.repository-item__language {
  width: 100px;
}

.repository-item__stargazers {
  width: 50px;
}
