<div class="repository-item">
  <div class="repository-item__container">
    <div class="repository-item__section">
      <a
        class="repository-item__title"
        [href]="repository.html_url"
        target="_blank"
      >
        {{ repository.full_name }}
      </a>
      <div class="repository-item__description" *ngIf="repository.description">
        {{ repository.description | limit: 70 }}
      </div>
      <div class="repository-item__details">
        <div class="repository-item-detail" *ngIf="repository.license">
          {{ repository.license.name }}
        </div>
        <div class="repository-item-detail">
          Update On {{ repository.updated_at | amDateFormat: 'MMMM D, YYYY' }}
        </div>
        <div class="repository-item-detail"></div>
      </div>
    </div>
    <div class="repository-item__section">
      <div class="repository-item__language">
        {{ repository.language }}
      </div>
      <div class="repository-item__stargazers">
        {{ repository.stargazers_count | numberIndicator }}
      </div>
    </div>
  </div>
</div>
