:host {
  width: 100%;
}

.search-input {
  &_is-home {
    .search-input__item {
      width: 100%;
      background-color: #fff;
      color: unset;
      border: 1px solid #515151;
      &::placeholder {
        color: #515151;
      }
    }
  }
}

.search-input__item {
  background-color: #515151;
  color: #bfbfbf;
  padding: 5px;
  width: 300px;

  &::placeholder {
    color: rgb(226, 225, 224);
  }
}
