@mixin container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
}


@mixin title {
  font-size: 21px;
  font-weight: bold;
  color: rgb(3, 102, 214);
  text-decoration: none;
  margin-bottom: 10px;
}

@mixin description {
  font-size: 14px;
  margin-bottom: 20px;
}
