<div class="mask-item">
  <div class="mask-item__container">
    <div class="mask-item__section">
      <div class="mask-item__title mask">
      </div>
      <div class="mask-item__description mask">
      </div>
      <div class="mask-item__details">
        <div class="mask-item-detail mask">
        </div>
        <div class="mask-item-detail mask">
        </div>
        <div class="mask-item-detail mask"></div>
      </div>
    </div>
    <div class="mask-item__section">
      <div class="mask-item__language mask">
      </div>
      <div class="mask-item__stargazers mask">
      </div>
    </div>
  </div>
</div>