@import '../../../styles/styles';

.results {

}

.results__container {
    @include container;
    display: flex;
}

.results__filter {
    width: 200px;
    margin-right: 20px;
    flex-shrink: 0;
}

.results__filter-section {
  border: 1px solid #e1e4e8;
}

.results__filter-item {
  border-bottom: 1px solid #e1e4e8;

  &:last-child {
    border-bottom: 0;
  }
}

.results__content-container {
    flex: 1;
}

.results__content-item {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(225, 228, 232);
  padding-bottom: 20px;
}

.results__title-container {
    display: flex;
    border-bottom: 1px solid rgb(225, 228, 232);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.results__title {
    flex: 1;
    font-size: 23px;
    margin-right: 10px;
    font-weight: bold;
}

.results__sort {

}

.results__paginator {
  margin-bottom: 20px;
}