@import '../../styles/styles';

.user-item {

}

.user-item__container {
    display: flex;
}

.user-item__image-container {
    width: 80px;
    margin-right: 20px;
}

.user-item__image {
    width: 100%;
}

.user-item__content {
    display: flex;
    flex-direction: column;
}

.user-item__name {
  @include title;
}

.user-item__description {
  @include description;
}

.user-item__details{
  display: flex;
}
.user-item__details{
  font-size: 12px;
  margin-right: 10px;
}
